<footer>
    <div class="left">
        <a href="">2024 Wanderlust,Inc.</a>&#183;
        <a href="">Privacy</a>&#183;
        <a href="">Terms</a>&#183;
        <a href="">Sitemap</a>&#183;
        <a href="">Company details</a>
    </div>

    <div class="right">
        <div><a href=""><i class="fa-solid fa-globe"></i> English(IN)</a></div>
        <div><a href=""><i class="fa-solid fa-indian-rupee-sign"></i> INR</a></div>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
    </div>
</footer>
